{
  "presets": [
    ["env", {
      "targets": {
        "browsers":["IE >= 9"]
      },
      "modules": false,
      "useBuiltIns":true
    }],
    "stage-3"
  ],
  "plugins": ["transform-runtime"],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-3"],
      "plugins": [ "istanbul" ]
    }
  }
}
