.areacont
  padding: 0px;
  background: none;
	.titlebg
	  height: 50px;
	  margin: 0px auto
	  .title {
      float: left
      font-size: 30px
      margin-top: 0px
      line-height: 50px
    }
	.searchico
	  margin: 2px 0 0 45px
	  padding: 10px 0 10px 10px
	  float: right
	  i
	    color: #313131
	    font-size: 28px
	    margin: 0 10px
	    padding: 6px
	    cursor: pointer

