


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #b0b1b4 !important;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #b0b1b4 !important;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #b0b1b4 !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #b0b1b4 !important;
}

.form-group-username {
  margin-top: 24px;
  position: relative;
  margin-left 9px;
  .icon-shouji {
    z-index: 2;
    position: absolute;
    left: 68px;
    top: 1px;
  }

  .icon-shouji:before {
    position: relative;
    left: 24px;
    top: -11px;
    z-index: 3;
  }

  .icon-shouji:after {
    content: '';
    display: inline-block;
    background: #f2f2f2;
    width: 32px;
    height 34px
    border-right: 1px #b0b1b4 solid;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .icon-lock {
    z-index: 2;
    position: absolute;
    left: 68px;
    top: 1px;
  }

  .icon-lock:before {
    position: relative;
    left: 24px;
    top: -11px;
    z-index: 3;
  }

  .icon-lock:after {
    content: '';
    display: inline-block;
    background: #f2f2f2;
    width: 32px;
    height 34px
    border-right: 1px #b0b1b4 solid;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .icon-daima {
    z-index: 2;
    position: absolute;
    left: 68px;
    top: 1px;
  }

  .icon-daima:before {
    position: relative;
    left: 24px;
    top: -11px;
    z-index: 3;
  }

  .icon-daima:after {
    content: '';
    display: inline-block;
    background: #f2f2f2;
    width: 32px;
    height 34px
    border-right: 1px #b0b1b4 solid;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .form__input {
    font-size: 15px;
    color: #374853;
    line-height: 20px;
    min-height: 36px;
    position: relative;
    border: 1px solid #b0b1b4;
    border-radius: 6px;
    background: #fff;
    padding: 5px 5px 5px 40px;
    width: 65%;
    transition: border .5s ease;
    box-sizing: border-box;
    outline: none;
  }

  input.form__input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #b0b1b4;
  }

  .form__input:disabled {
    background-color: #f5f5f5;
  }
}

.form-group {
  margin-top: 18px;
  position: relative;
  margin-left 9px;
  .icon-shouji {
    z-index: 2;
    position: absolute;
    left: 68px;
    top: 1px;
  }

  .icon-shouji:before {
    position: relative;
    left: 24px;
    top: -11px;
    z-index: 3;
  }

  .icon-shouji:after {
    content: '';
    display: inline-block;
    background: #f2f2f2;
    width: 32px;
    height 34px
    border-right: 1px #b0b1b4 solid;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .icon-lock {
    z-index: 2;
    position: absolute;
    left: 68px;
    top: 1px;
  }

  .icon-lock:before {
    position: relative;
    left: 24px;
    top: -11px;
    z-index: 3;
  }

  .icon-lock:after {
    content: '';
    display: inline-block;
    background: #f2f2f2;
    width: 32px;
    height 34px
    border-right: 1px #b0b1b4 solid;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .icon-daima {
    z-index: 2;
    position: absolute;
    left: 68px;
    top: 1px;
  }

  .icon-daima:before {
    position: relative;
    left: 24px;
    top: -11px;
    z-index: 3;
  }

  .icon-daima:after {
    content: '';
    display: inline-block;
    background: #f2f2f2;
    width: 32px;
    height 34px
    border-right: 1px #b0b1b4 solid;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .form__input {
    font-size: 15px;
    color: #374853;
    line-height: 20px;
    min-height: 36px;
    position: relative;
    border: 1px solid #b0b1b4;
    border-radius: 6px;
    background: #fff;
    padding: 5px 5px 5px 40px;
    width: 65%;
    transition: border .5s ease;
    box-sizing: border-box;
    outline: none;
  }

  input.form__input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #b0b1b4;
  }

  .form__input:disabled {
    background-color: #f5f5f5;
  }
}

.form-bg {
  width: 45%;
  min-width: 950px;
  min-height: 550px;
  margin: auto;
  margin-top: 88px;
  background: #fff;
  border: 1px #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 20px #e4e4e4;

  .form-left {
    width: 50%;
    min-height: 550px;
    background-color: #f2f2f2;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    float: left;
    background: url(../../assets/img/login/login-left-image.png);
    box-shadow: 3px 3px 20px #e4e4e4;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
  }

  .form-detail {
    background-color: white;
    width: 50%;
    min-height: 550px;
    border: 1px white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    float: left;
    box-shadow: 3px 3px 20px #e4e4e4;

    .welcome-chinese {
      font-size: 24px;
      text-align: left;
      width: 66%;
      margin: auto;
      margin-top:5px;
      margin-left 90px;
      height: 24px;
      font-weight: bold;
      line-height: 0;
      letter-spacing: 0;
      color: #000000;
      padding-top: 5px;
    }

    .welcome-chinese:nth-child(1) {
      margin-top: 115px;
    }

    .welcome-english {
      font-size: 10px;
      text-align: left;
      width: 66%;
      margin: auto;
      margin-left 90px;
      color: #aaa;
      padding-top: 5px;
    }
    .welcome-english:nth-child(3) {
      margin-top: 0px
    }
  }
}

.form-group__message {
  font-size: 12px;
  line-height: 1;
  display: none;
  margin: auto;
  position: absolute;
}

.form-group--error + .form-group__message {
  margin: 2px 0 0 90px;
  display: block;
  color: #ff4955;
  font-size: 12px;
  text-align: left;
}

.form-group--error .form__label, .form-group--error .form__label--inline {
  color: #ff4955;
}

.login-button {
  margin-top: 30px;
  min-width: 140px;
  border: 1px #fff;
  min-height: 36px;
  border-radius: 6px;
  background-image: linear-gradient(90deg,
  #0098ff 0%,
  #1868fb 100%),
    linear-gradient(
      #f0f0f0,
      #f0f0f0);
  background-blend-mode: normal, normal;
  color: #fff;
  width: 30%;
  float: right;
  margin-right: 17.5%;
  font-size: 14px;
  cursor: pointer;
}

.login-button:focus {
  outline: none;
}

.login-button:active {
  background: rgba(0, 110, 255, 0.5)
}

.empty-space {
  margin: 50px;
  float: right;
}

.forget-password-step1-tip {
  margin-top: 17px;
  font-size: 12px;
  color: #aaa;
}

.next-step-button {
  margin-top: 60px;
  min-width: 140px;
  width: 14%;
  min-height: 36px;
  border: 1px #fff;
  border-radius: 6px;
  background: linear-gradient(#0097ff, #1868ff);
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.next-step-button:focus {
  outline: none;
}

.next-step-button:active {
  background: rgba(0, 110, 255, 0.5)
}

.change-password-img {
  width: 88px;
  height: 88px;
  background-size: cover;
  border: none;
  margin-top: 80px;
}

.change-password-text {
  font-size: 23px;
  margin-top: 18px;
  margin-bottom: 40px;
  font-weight: 700;
}

.change-password-form {
  width: 50%;
  margin: auto;
}

.forget-password-img {
  width: 88px;
  height: 88px;
  background-size: cover;
  border: none;
  margin-top: 80px;
}

.forget-password-step1-text {
  font-size: 24px;
  margin-bottom: 40px;
  font-weight 600;
}

.forget-password-form {
  width: 50%;
  margin: auto;
}

.back-btn {
  margin: 25px 27px;
  float: left;
  cursor: pointer;
}
.app-wrapper{
}
.login-bg {
  position: absolute;
  left 0;
  top: 0;
  right 0;
  bottom 0;
  width 100%;
  height: 100%;
  text-align: center;
  background: #f5f5f5 url("../../assets/img/login/login-fotter-img.png") center bottom no-repeat;
//box-sizing border-box;
}

.copyright-message {
  position: absolute;
  left: 50%;
  margin-left: -133px;
}

.login-footer {
  position relative;
  width 100%;
  font-size: 12px;
  color: #b0b1b4;
  .contact-number {
    color: #0b82fd;
  }
}
.logo {
  width: 260px;
  height: 44px;
  margin-top: 100px;
}
@media screen and (min-width: 1600px) {
  .form-bg {
    margin-top: 86px;
  }
  .logo {
    margin-top:99px;
  }
  .copyright-message {
    bottom: -130px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
  .form-bg {
    margin-top: 84px;
  }
  .logo {
    margin-top:95px;
  }
  .copyright-message {
    bottom: -125px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
  .form-bg {
    margin-top: 82px;
  }
  .logo {
    margin-top:90px;
  }
  .copyright-message {
    bottom: -120px;
  }
}

@media screen and (max-width: 1200px) {
  .form-bg {
    margin-top: 80px;
  }
  .logo {
    margin-top:80px;
  }
  .copyright-message {
    bottom: -125px;
  }
}
