.change-password-bg {

  .mp-header-button-group {
    width: 100%
  }

  .jump-btn-text {
    margin: 25px 30px;
    font-size: 15px;
    color: #1868ff;
    float: right;
    cursor:pointer;
  }

  .jump-btn-text:active{
    color: rgba(0, 110, 255, 0.5)
  }

  .change-password-img {
    width: 88px;
    height: 88px;
    background-size: cover;
    border: none;
    margin-top: 80px;
  }

  .change-password-text {
    // font-size: 20px;
    // margin-top: 23px;
    // margin-bottom: 40px;
     font-size: 23px;
      margin-top: 18px;
      margin-bottom: 40px;
      font-weight: 700;
  }

  .change-password-form {
    width: 50%;
    margin: auto;
  }

  .form-group {
    margin-top: 18px;
    position: relative;

    .icon-icon_denglu_mima {
      z-index: 2;
      position: absolute;
      left: 68px;
      top: 1px;
      color:#bbbbbb;
      font-size:24px;
    }

    .icon-icon_denglu_mima:before {
      position: relative;
      left: 24px;
      top: -11px;
      z-index: 3;
    }

    .icon-icon_denglu_mima:after {
      content: '';
      display: inline-block;
      width: 32px;
      height 34px;
      position: relative;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  .form-group__message {
    font-size: 12px;
    line-height: 1;
    display: none;
    margin: auto;
    position: absolute;
  }

  .form-group--error+.form-group__message {
    margin: 2px 0 0 90px;
    display: block;
    color: #fa1919;
    font-size: 12px;
    text-align: left;
    width: 22.5%;
  }

  .form-group--error .form__label, .form-group--error .form__label--inline {
    color: #fa1919;
  }

  .finish-button {
    margin-top: 50px;
    min-width: 130px;
    width: 14%;
    min-height: 36px;
    border: 1px #fff;
    border-radius: 2px;
    background:#41a259;
    color: white;
    font-size: 14px;
    cursor:pointer;
  }

  .finish-button:focus{
    outline: none;
  }

  .finish-button:active {
    opacity: 0.6
  }
}

