.form-group__message {
  font-size: 12px;
  line-height: 1;
  display: none;
  margin: auto;
  position: absolute;
}

.forget-password {
  font-size: 12px;
  text-align: right;
  margin: auto;
  padding-top: 10px;
  width: 65%;
}
.forget-password-err{margin-top:-22px;}
.forget-password-text{
  z-index: 1;
  color: #41a259;
  cursor: pointer;
}

.forget-password-text:active{
  color: rgba(0, 110, 255, 0.5)
}

::-ms-clear, ::-ms-reveal{display: none;}