.sunmapbox
    padding: 20px;

    .mapmonitor
        background: #ffffff;
        padding: 0px 30px 0px 30px;
        border: solid 1px #e3e8ea;
        ul,li{
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .mapMtop{
            height :86px;  
            background: #ffffff;  
        }
        .mapMbottom{
            overflow hidden    
        }
        .slotDiv{
            //position:absolute;    
        }
        .monitoringPointp{
            float: left;
            color: #444444;
            margin-top: 30px;
            display: inline-block;
            font-family: SourceHanSansCN-Medium;
            font-size: 20px;
            font-weight: bold;
            font-stretch: normal;
        }
        .activeBox{
            position: relative
            float: right ;
            width: 198px;
            border: 1px solid #d6dee3;
            height: 36px;
            margin-top: 23px;
            float :right;        
            border-radius: 2px;
            cursor:hand;   
            cursor:pointer;
        }
        .selSpan{
            box-sizing: border-box;
            color: #444444;
            display: block;
            width: 198px;
            padding-left: 16px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            //text-indent: 24px;
            line-height: 36px;
            //font-family: SourceHanSansCN-Regular;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
        }
        .m-iconfont {
            position: absolute;
            top: 10px;
            right: 14px;
            font-size: 14px;
            color: #999999;
            transform: rotate(0deg);
        }
        .regionsela{
            position:relative;
            top:0px;
            left:-1px;
            height 36px;
            width:198px;
            border:1px solid #c9cfda;
            background:#f5f6fa;
            //z-index :999999999999;
            border-top:1px solid#41a259;
            border-bottom-right-radius:4px;
            border-bottom-left-radius:4px;
            z-index: 100;
        }
        .regionsela>li{
            height: 36px;
            color: #444444;
            //font-family: SourceHanSansCN-Regular;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            line-height: 36px;
            padding-left: 16px;
            //z-index :-999;
        }
        .regionsela>li:hover{
            background: #f1f7fa;
            color: #41a259;
        }
        .activecolor{
            color:#41a259;
            border: 1px solid #41a259;
        }
        .mapinputbox{
            box-shadow: 0px 0px 20px 0px rgba(204, 204, 204, 0.4);
            //z-index: 100;
            border-radius: 2px;
            position: relative;
            top:-750px;
            left :30px;
            background: #ffffff;
            padding-left: 15px;
            height: 36px;
            width: 300px;
            //border: 1px solid #c9cfda;
        }
        .mapinput{
            float: left;
            box-sizing: border-box;
            height: 34px;
            width: 100%;
            padding-right: 35px;
            border: none;
            font-size: 14px;
            line-height: 34px;

        }
        .seach-iconfont{
            cursor:pointer
            color: #999999;
            font-size: 17px;
            position: absolute; 
            height 36px;
            width: 50px;
            line-height: 36px;
            text-align: center;
            right :0px;
        }
        .showmsg{
            border-radius: 2px;
            background: #ffffff;
            display: inline-block;
            box-sizing: border-box;
            //height :206px;
            overflow: hidden;
            //min-width :169px;
            box-shadow: 0px 0px 20px 0px rgba(204, 204, 204, 0.4);
            padding: 20px 16px 0px 16px;    
        }
        .showmsgchildbox{
            //float: left;
            height :13px;
            margin-bottom: 17px;
            //width: 100%;    
        }
        .showmsgchildbox span{
            font-size: 12px;
        }
        .showmsgsp1{
            float: left;
            color: #999999;
            display: inline-block;    
            min-width: 52px;
            line-height: 12px;
            margin-right: 10px;
        }
        .showmsgsp2{
            float: left;
            line-height: 12px;
            display: inline-block;
            color: #444444;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;    
        }
        .showmsgsp3{
            color: #41a259;
            text-align: center;
            cursor:pointer
        }
        .boxcenter{
            text-align: center;    
        }
        .mapclose{
            cursor:pointer
            float: right ;
            font-size: 17px;
            top:-10px;    
        }
        .mapclosebox{
            height :14px;    
        }
        .positionbox{
            width: 100%;
            position: relative; 
            height :0px;
            top: -788px;
            left :0;   
        }

        .mapcontrolbox{
            //width: 582px;
            overflow: hidden;
            float :right;
            margin-right: 33px;
            // position: relative;
            // top: -786px;
            // left :57.19%;    
        }


        .ksbox{
            box-shadow: 0px 0px 20px 0px rgba(204, 204, 204, 0.4);
            cursor:pointer
            border: 1px solid #ffffff;
            height: 36px;
            background: #ffffff;
            float: left;
            margin-right: 10px;
            padding: 6px 16px 10px 22px; 
            box-sizing: border-box;    
        }
        .ksbox span{
            margin-right: 16px;
            float: left;
            font-size: 14px; 
            display: inline-block;
            line-height: 26px;   
        }
        .ksbox .iconfont{
            line-height: 26px;
            float: left;
        }
        .ksbox .ksiconfont{
            margin-right: 9px;
            font-size: 20px;
            height :20px;
            width: 20px;
            display: inline-block;    
        }
        .mapsearchbox{
            border-radius: 2px;
            box-shadow: 0px 0px 20px 0px rgba(204, 204, 204, 0.4);
            cursor:pointer
            //z-index :100;
            position: relative;
            top: -787px;
            left :356px;
            text-align: center;
            float: left;
            height: 36px;
            //line-height: 36px;
        // height :36px;
            //width: 83px; 
            min-width :83px;
            line-height: 36px;
            background: #ffffff;  
            //box-sizing: border-box;
            //border: 1px solid red; 
        }
        .mapsearchbox span{
            margin-left: 16px;
            margin-right: 11px;
            display: inline-block;
            color: #444444;
            font-size: 14px;    
        }
        .mapsearchbox i{
            color: #999999;  
            float: right ;  
            margin-right: 16px;
            font-size: 14px;
            line-height: 36px;
        }
        .activecolors{
            color:#41a259!important;
        }
        .icon-icon_jiantou_shangshouqi{
            color:#41a259!important;
        }
        .separationLine{
            height:1px;
            width: 100%;
            background: #e3e8ea;  
            margin-bottom: 11px;  
        }
        .spanActiveColor{
            //font-family: SourceHanSansCN-Regular;
            font-size: 12px;
            font-weight: normal;
            letter-spacing: 0px;
            color: #ff5560;    
        }
        .amap-container img{
            width: 26px!important;
            height :33px!important;
        }
        ::-ms-clear,::-ms-reveal{display:none;}