::-ms-clear,::-ms-reveal{display:none};

.main-container {
    height: 100%;
    width: 97.55%;    
    padding: 20px;
    text-align:center;
    background #efff4
}
.content_panel {
    display inline-block
    box-sizing border-box
    width 100%
    // height 700px
    text-align center
    vertical-align middle
    background #ffffff
    border 1px solid #e1e6e9
    padding-bottom 100px
    // margin-left 10px
    // width 83%
    // margin-top:30px;
    .title-equipment {
        display: inline-block;  
        box-sizing: border-box;
        width: 96.31%;
        height: 86px;
        border-bottom 1px solid #f2f2f2
        text-align left
        font-size 19px
        font-weight bold
        line-height 86px
        //margin-left 28px
        vertical-align middle
        
        .equipment_button {
            text-align left   
            // margin-top 20px
            // margin-right 30px
            float right
            
        }
    }
}


.equipment_button input {
    width: 68px;
    height: 36px;
    //border: 1px solid #333;
    text-align: center;
    line-height: 28px;
    box-sizing border-box
    border-radius: 4px;
    font-family: SourceHanSansCN-Bold;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
}

.equipment_button input:nth-child(1) {
  background #ffffff
  border 1px solid #41a259
  color #41a259
  text-align: center;
}

.equipment_button input:nth-child(2) {
  background #41a259
  color #ffffff
  margin-left 8px
  text-align center
  border none
}


.equipment_title {
    font-size 16px
    text-align left
    white-space nowrap
    margin-top 30px
    margin-bottom 20px
}
 
.equipment_list {
    display inline-block
    width 100%
    text-align center
    // margin-top 30px
}
.equipment_number {
    display inline-block
    width 96.31%
    text-align left
    white-space nowrap   
    // margin-top 20px
}


.label_number {
    display inline-block
    width 3.5%   
    height 36px
    font-size 13px
    color #999999      
    line-height 36px
    text-align center 
    vertical-align top
    margin 0
}
.number-left {
    width 3%
    text-align left 
}
.number-right {
    width 3%
    text-align right 
}

.equipment_number_input {
    display inline-block
    position relative
    border 1px #ff0000
}

.equipment_input_box {
    display inline-block
    position relative
    width 20%
    // height 36px
    // text-indent 10px
    // line-height 28px
    // font-size 12px
    // border 1px solid #e3e8ea
    // border 1px solid #ff0000
    // border-radius 4px
    margin 0
    .normal-up {
        position: absolute;
        display inline-block
        right: 15px;
        top: 3px;
        color #999999
        // border 1px solid #ff0000
        cursor: pointer;
    }
    .normal-up:hover {
        color #41a259        
    }
    .normal-down {
        position: absolute;
        display inline-block
        right: 15px;
        bottom: 3px;
        color #999999
        // border 1px solid #ff0000
        cursor: pointer;
    }
    .normal-down:hover {
        color #41a259        
    }
    .iconfont {
    }
}

.equipment_input {
    display inline-block
    width 100%
    height 36px
    text-indent 10px
    line-height 28px
    font-size 12px
    border 1px solid #e3e8ea
    border-radius 4px
    margin 0
}
//.ml5,
.equipment_state {
    position relative
    display inline-block
    width 96.31%
    text-align left
    //white-space nowrap   
    // margin-top 20px
}
.equipment_message {
    position relative
    display inline-block
    // margin-bottom 20px
    width 48.08%
    white-space nowrap 
    
    .floatleft {
        float left
    }
    .floatright {
        float right
    }
}
.message-label {
    position relative
    display inline-block
    width 48px
    font-size 14px
    color #999999
}


// .equipment_list .sel .input-wrap:before {
//   content "偏低";
//   display inline-block
//   width 35px
//   height 30px
//   line-height 30px;
//   text-align center
//   position absolute
//   left 0px
//   top 0px
//   background #0b82fd
//   color #fff
//   font-size 14px
//   border-radius 5px 0 0 5px
  
// }

// .equipment_lists .sel:nth-child(2) .input-wrap:before {
//   content: "偏高";
// }

// .equipment_lists .sel:nth-child(3) .input-wrap:before {
//   content: "过低";
// }

// .equipment_lists .sel:nth-child(4) .input-wrap:before {
//   content: "过高";
// }

// .equipment_lists .sel:nth-child(5) .input-wrap:before {
//   content: "断开";
// }

// .equipment_list .input-box {
//   padding-left: 50px;
// }

// .equipment_list3 .sel .input-wrap:before {
//   display: none
// }

// .equipment_list3 .input-box {
//   padding-left: 0px;
// }

// .input-wrap-head input {
//     height: 30px;
//     line-height: 30px;
//     background: none;
//     border-radius: 4px;
//     font-size: 18px;
// }
.input-wrap {
    position relative
    display inline-block
    width: 92.5%;
    height: 36px;
    // margin-right 60px
    .normal {
        right: 15px;
        top: 9px;
        color #999999
        cursor: pointer;
    }
    .iconfont {
        position: absolute;
    }
}
.input-box {
    width: 100%;
    height: 36px;
    text-indent: 10px;
    line-height: 30px;
    border: 1px solid #e3e8ea;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    // font-weight: bold;
    color: #999999;
    font-size 14px
    padding-left 15px
}

.drop_down {
    display none
    z-index 999
    margin 0
    padding 0
}

// .sel .iconfont {
//   position: absolute;
//   right: 5px;
// }

// .sel .iconfont.icon-paixujiantouxia {
//   top: 5px;
// }

// .sel .iconfont.icon-paixujiantoushang {
//   top: 5px;
// }

// .sel .iconfont.icon-paixujiantouxia.normal {
//   top: 5px;
// }



.input-wrap ul {
    position: absolute;
    width: 100%;
    top 36px
    left 0px
    color: #313131;
    font-size: 14px;
    line-height: 30px;
    border: 1px solid #e3e8ea;
    background: #fff;
    box-sizing: border-box;
    text-indent: 10px;
    z-index: 1;
    display: none;
    margin 0
    padding 0
}

.input-wrap li {
    position: relative;
    width: 98%;
    font-size 14px
    margin 0
    padding 0
    padding-left 15px
    float: left;
    list-style-type none
}

.input-wrap ul li:hover {
    background: #f1f7fa;
    cursor: pointer;
}

.alarm-pretime {
    width: 260px;
    padding: 5px 10px;
    line-height: 18px;
    border: 2px solid #b1b4b6;
    border-radius: 4px;
    box-sizing: border-box;
    font-size 14px
    font-weight 600
    margin-left 30px
}

.alarm-dealIntroduct {
    height 100px
    width: 96%;
    padding: 5px 10px;
    line-height: 18px;
    border: 1px solid #e3e8ea;
    border-radius: 4px;
    box-sizing: border-box;
    font-size 14px
    font-weight 600
    color #666666
    padding-bottom 20px
    // margin-left 30px
}

.hint-pretime {
    position relative    
    display inline-block
    width 16px
    height 16px
    text-align: center;
    border-radius: 8px;
    background #999999
    color #ffffff
    margin-left 20px
}
.hint-content {
    position absolute
    display inline-block
    width 250px
    height 140px
    left 8px
    top 16px
    line-height 24px
    text-align: left;
    border-radius: 4px;
    background #595959
    color #ffffff
    padding 20px
    box-sizing border-box
    word-wrap break-word
    word-break normal
    white-space normal
    color #d5d5d5
    font-size 13px
}
.label-prefix {
    display inline-block
    height 16px
    width 4px
    border-radius: 2px;
    background #41a259
    margin-left 10px
    margin-right 15px
    vertical-align middle
}
.equipment_lists {
     margin-left 30px
}
.form-group__message {
    display none
}