.wrap {
  padding 20px 60px 0
  // .we{
  //   float right 
  //   }
  .color1 {
    color #66d202;
  }
  .color2 {
    color #feb600
  }
  .color3 {
    color #ff4955;
  }
  .fl {
    float: left
  }
  .fr {
    float: right
  }
  .alarm-btn i {
    font-size 26px
    margin-left 40px
  }
  .alarm-tit {
    height 50px;
    line-height:50px;
    margin-top: 24px;
    span {
      color #313131
      font-size 30px
    }
  }
  .alarm {
    width 104%
    list-style none
    margin 0px
    padding 0px
    li {
      position relative
      float left
      margin 0px
      margin-top: 29px;
      padding 0px
      width 30%
      margin-right 3%
      height 200px
      border: solid 3px #fff
      box-sizing border-box
      border-radius 4px
      background #fff
      list-style none
      cursor pointer
      span {
        position absolute
        display block
        width 60px
        height 40px
        line-height: 40px;
        top 0px
        right 0px
        text-align center
        font-size 14px
        color #0b82fd
        cursor pointer
      }
      .content {
        font-size 24px
        line-height 200px
        text-align center
      }
      &.sel{
        border-radius: 4px
        border: solid 3px #66d202
        box-sizing border-box
      }
    }
  }

}
