.forget-password-bg {

  .mp-header-button-group {
    width: 100%
  }

  .empty-space {
    margin: 50px;
    float: right;
  }

  .forget-password-img {
    width: 88px;
    height: 88px;
    background-size: cover;
    border: none;
    margin-top: 80px;
  }

  .forget-password-step1-text {
    font-size: 23px;
    margin-top: 18px;
    margin-bottom: 40px;
    font-weight 600;
  }

  .forget-password-form {
    width: 50%;
    margin: auto;
  }

  .form-group {
    margin-top: 18px;
    position: relative;
  }

  .form-group__message {
    font-size: 12px;
    line-height: 1;
    display: none;
    margin: auto;
    position: absolute;
  }

  .form-group--error+.form-group__message {
    margin: 2px 0 0 90px;
    display: block;
    color: #fa1919;
    font-size: 12px;
    text-align: left;
    width: 22.5%;
    animation: mylogo 1s linear 0s infinite alternate;
  }

  .form-group--error .form__label, .form-group--error .form__label--inline {
    color: #fa1919;
  }

  .forget-password-step1-tip {
    margin-top: 17px;
    font-size: 12px;
    color: #aaa;
  }

  .next-step-button {
    margin-top: 70px;
    min-width: 130px;
    width: 14%;
    min-height: 36px;
    border: 1px #fff;
    border-radius: 2px;
    background:#41a259;
    color: white;
    font-size: 14px;
  }

  .next-step-button:focus{
    outline: none;
  }

  .next-step-button:active {
    opacity: 0.6
  }
}

