/* 表单通用样式 */
.sh-form {
    zoom: 1;
    font-size: 14px;
}

.sh-form:after {
    clear: both;
}

.sh-form:after, .sh-form:before {
    display: table;
    content: ' ';
}

.sh-form-label {
    position: relative;
    float: left;
    padding: 5px 20px 5px 0;
    width: 60px;
    height: 36px;
    text-align: right;
    line-height: 36px;
    color: #999999;
}

.sh-form-text {
    padding: 5px 0 5px 0;
}

.sh-form-label.require:before {
    content: '*';
    position: absolute;
    color: #ff5560;
    font-weight: bold;
    left: -15px;
}

.sh-form-label > span.require {
    color: #ff5560;
    font-weight: bold;
    padding-right: 8px;
}

.sh-from-font1 .sh-form-label {
    width: 14px;
}

.sh-from-font1 .sh-form-text {
    padding-left: 34px;
}

.sh-from-font2 .sh-form-label {
    width: 28px;
}

.sh-from-font2 .sh-form-text {
    padding-left: 48px;
}

.sh-from-font3 .sh-form-label {
    width: 42px;
}

.sh-from-font3 .sh-form-text {
    padding-left: 62px;
}

.sh-from-font4 .sh-form-label {
    width: 56px;
}

.sh-from-font4 .sh-form-text {
    padding-left: 76px;
}

.sh-from-font5 .sh-form-label {
    width: 70px;
}

.sh-from-font5 .sh-form-text {
    padding-left: 90px;
}

.sh-from-font6 .sh-form-label {
    width: 84px;
}

.sh-from-font6 .sh-form-text {
    padding-left: 104px;
}

.sh-from-font7 .sh-form-label {
    width: 98px;
}

.sh-from-font7 .sh-form-text {
    padding-left: 118px;
}

.sh-from-font8 .sh-form-label {
    width: 112px;
}

.sh-from-font8 .sh-form-text {
    padding-left: 132px;
}

.sh-from-font9 .sh-form-label {
    width: 126px;
}

.sh-from-font9 .sh-form-text {
    padding-left: 146px;
}

.sh-from-font10 .sh-form-label {
    width: 140px;
}

.sh-from-font10 .sh-form-text {
    padding-left: 160px;
}

.sh-from-font11 .sh-form-label {
    width: 154px;
}

.sh-from-font11 .sh-form-text {
    padding-left: 174px;
}

.sh-from-font12 .sh-form-label {
    width: 168px;
}

.sh-from-font12 .sh-form-text {
    padding-left: 188px;
}

.sh-from-font13 .sh-form-label {
    width: 182px;
}

.sh-from-font13 .sh-form-text {
    padding-left: 202px;
}

.sh-from-font14 .sh-form-label {
    width: 196px;
}

.sh-from-font14 .sh-form-text {
    padding-left: 216px;
}

.sh-from-font15 .sh-form-label {
    width: 210px;
}

.sh-from-font15 .sh-form-text {
    padding-left: 230px;
}

.sh-from-font16 .sh-form-label {
    width: 224px;
}

.sh-from-font16 .sh-form-text {
    padding-left: 244px;
}

.sh-from-font17 .sh-form-label {
    width: 238px;
}

.sh-from-font17 .sh-form-text {
    padding-left: 258px;
}

.sh-from-font18 .sh-form-label {
    width: 252px;
}

.sh-from-font18 .sh-form-text {
    padding-left: 272px;
}

.sh-from-font19 .sh-form-label {
    width: 266px;
}

.sh-from-font19 .sh-form-text {
    padding-left: 286px;
}

.sh-from-font20 .sh-form-label {
    width: 280px;
}

.sh-from-font20 .sh-form-text {
    padding-left: 300px;
}