.mr0
  margin-right 0
.fl
  float: left
.fr
  float: right
.home-container
  padding 50px 70px 50px 60px
  font-size 16px
  min-width 860px
  background #f5f6fa

.home-echart, .home-echart > div
  width 100% !important
  height 100% !important

.home-weather-device
  display inline-block
  width 100%
  height 33rem
  margin-bottom 55px

.home-weather-box
  float left
  width 49.3%
  height 28.125rem

.home-device-box
  float right
  width 49.3%
  height 28.6rem

.home-weather
  display inline-block
  width 100%
  height 85.6%

.weather-item
  position relative
  display inline-block
  width 49%
  height 13.7rem
  border-radius 5px
  background #ffffff
  margin-bottom 0.625rem

.weather-data
  position absolute
  display inline-block
  left 10%
  top 50%
  margin-top -36px

.weather-name
  font-size 14px
  line-height 18px
  display: block
  margin-bottom: -12px
  color #313131

.weather-value
  font-size 36px
  font-weight bold
  line-height 42px
  color #313131

.weather-unit
  font-size 20px
  font-weight bold
  line-height 40px
  color #313131

.weather-img
  display inline-block
  position absolute
  width 4.5rem
  height 4.5rem
  right 7.4%
  top 50%
  margin-top -36px

.home-device
  position relative
  display inline-block
  width 100%
  height 32.3rem
  background #ffffff
  border-radius 5px
  text-align center
.special
  height: 28.2rem
.home-echart
  position relative
  display inline-block
  width 100%
  height 25rem

.model-label
  position relative
  display inline-block
  width 100%
  font-size 30px
  font-weight bold
  line-height 36px
  color #313131
  margin-bottom 34px

.home-warning-statistics
  display inline-block
  width 100%
  height 583px
  white-space nowrap

.home-warning-left
  display inline-block
  width 49.3%
  height 88%
  float left

.home-warning-right
  display inline-block
  width 49.3%
  height 88%

.machine-select
  position absolute
  display inline-block
  width 32.4%
  height 46px
  right 1px
  top: -10px
  /*float right*/
  border 2px solid #c9d0da
  color #313131
  /*font-size 18px*/
  font-weight bold
  background #f5f6fa
  border-radius 5px
  padding-left 10px

.devCount-message
  display inline-block
  position absolute
  width 28.6%
  height 150px
  right 7%
  top 50%
  margin-top -10.7%
  text-align left

.devCount-line
  font-size 18px
  line-height 50px

.icon-yellow
  color #ffc20f

.icon-green
  color #68d102

.icon-blue
  color #0b81fd

.weather-city
  font-size 18px
  font-weight bold

.nothing
  display inline-block
  width 100%
  height 100%
  line-height 400px
  text-align center
  color #cccccc
  font-size 24px

.wrapper {

}

@media screen and (min-width: 1700px) {

}

@media screen and (min-width: 1600px) and (max-width: 1699px) {

}

@media screen and (min-width: 1499px) and (max-width: 1599px) {

}

@media screen and (min-width: 1400px) and (max-width: 1499px) {

}

@media screen and (min-width: 1200px) and (max-width: 1399px) {

}

@media screen and (max-width: 1199px) {

}
