.forget-password-bg {

  .mp-header-button-group {
    width: 100%
  }

  .forget-password-form {
    width: 50%;
    margin: auto;
  }

  .forget-password-auth-code {
    background-color: #ccc;
    width: 20%;
    height: 22px;
    padding: 3px;
    border: 1px;
    border-radius: 5px;
    position: absolute;
    top: 4px;
    right: 90px;
  }

  .forget-password-auth-code-active {
    background-color: #0097ff;
    width: 20%;
    height: 22px;
    padding: 3px;
    border: 1px;
    border-radius: 5px;
    position: absolute;
    top: 4px;
    right: 90px;
    cursor: pointer;
  }

  .forget-password-auth-code-active:active {
    background: rgba(0, 110, 255, 0.5);
  }

  .forget-password-auth-code-text {
    color: white;
    font-size: 14px;
  }

  .form-group__message {
    font-size: 12px;
    line-height: 1;
    display: none;
    position: absolute;
  }

  .forget-password-step1-tip {
    font-size: 12px;
    color: #aaa;
  }
}

