<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>智慧农业管理平台</title>
  </head>
  <body>
    <div id="app"></div>
    <!--echarts-->
    <script type="text/javascript" src="/static/resource/nongye/js/echarts.common.min.js"></script>
    <!-- built files will be auto injected -->
    <script type="text/javascript" src="/static/resource/nongye/haikang/webVideoCtrl.js"></script>
	<script type="text/javascript" src="/static/resource/nongye/js/lib/crypto1/crypto/crypto.js"></script>
	<script type="text/javascript" src="/static/resource/nongye/js/lib/crypto1/hmac/hmac.js"></script>
	<script type="text/javascript" src="/static/resource/nongye/js/lib/crypto1/sha1/sha1.js"></script>
	<script type="text/javascript" src="/static/resource/nongye/js/lib/base64.js"></script>
	<script type="text/javascript" src="/static/resource/nongye/js/lib/plupload-2.1.2/js/plupload.full.min.js"></script>
  	<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.6&key=3a9de59f7169e0c80b3c34d4aacb3ee2"></script>
  </body>
</html>
